/**
 * ZodiacPress Styles for RTL languages
 */

/* Form
-------------------------------------------------------------- */

.zp-form #hour,
.zp-form #minute,
.zp-form #month,
.zp-form #day {
	margin-left:.6em;

}
#zp-ajax-birth-data legend{
	float:right;
	margin: 5px 0 0 10px;
}
#zp-birthreport-form .zp-form-label {
	float:right;
}
#zp-birthreport-form .zp-input-text-wrap {
	padding-right: 10px;
}
.zp-unknown-time-field #unknown_time {
	margin-left: 0.4em;
}

/* Ajax
-------------------------------------------------------------- */
#zp-offset-label{
	float:right;
	clear:right;
}
#zp_offset_geo {
	float:right;	
}

/* Report
-------------------------------------------------------------- */
.zp-report-backlink {
	text-align: left;
}
.zp-report-header,
.zp-report-caption {
	text-align: right;
}
.zp-zodiacal-dms {
	padding-right:1em;
}

/* Layout helpers
----------------------------------*/
.ui-helper-zfix {
	left: auto;
	right: 0;
}
/* Overlays */
.ui-widget-overlay {
	left: auto;
	right: 0;
}
.ui-autocomplete {
	left: auto;
	right: 0;
}
.ui-selectmenu-menu {
	left: auto;
	right: 0;
}
.ui-selectmenu-button span.ui-selectmenu-text {
	text-align: right;
	padding: 0.4em 1em 0.4em 2.1em;
}

@media screen and ( max-width: 727px ) {
	.zp-form #hour,
	.zp-form #minute,
	.zp-form #month,
	.zp-form #day {
		margin-left:.2em;
	}
}